body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #fff;
}


.flags-container {
  padding: 10px 10px;
}

.sticky{
  position: sticky;
  top: 0;
  background-color: #e4e7eb;
  padding: 4px;
}

.ui.input input.prompt {
  padding: 3px;
}

.hidden {
  display: none;
}

.item {
  cursor: pointer;
}

.details {
  display: none;
}

pre {
  margin: 0;
}
.ui .details  table.table {
  margin: 10px 0;
}



.visible {
  display: initial;
}

.icon.hidden {
  display: none;
}

#clear-search{
  pointer-events: initial;
  cursor: pointer;
}
